<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="title">
          <p>UW Alerts Map</p>
        </div>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="{{ url_for('demo') }}">DEMO</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">CONTACT</a></li>
          <li><a href="https://emergency.uw.edu/?_gl=1*1vuj1l2*_ga*MjEwNjM0NTMyNS4xNjc1ODkzMTc1*_ga_3T65WK0BM8*MTY3ODE1MzAyOS43LjAuMTY3ODE1MzAzMy4wLjAuMA..">BLOG</a></li>
        </ul>
      </nav>
      <div id="elementContainer">
        <div id="formcontainer">
          <form id="formtag" action="{{url_for('update_map')}}" method="POST">
            <label for="text-input" class="text-label">Test New Data for Map:</label>
            <textarea id="test-input" name="text-input" placeholder="Enter in a UW Alert"></textarea>
            <button type="submit" id="submitbutton">Beam Me Up!</button>
          </form>
          <button id="update_button">CHANGE</button>
        </div>
        <div id="plotcontainer">
          <iframe
            id="map-frame"
            width="80%"
            height="600px"
            frameborder="0"
          ></iframe>
        </div>
      </div>
      <script>
        var mapHtml = {{ map_html | safe | tojson}};
        var mapFrame = document.getElementById('map-frame');
        var mapFrameDoc = mapFrame.contentDocument || mapFrame.contentWindow.document;
        mapFrameDoc.open();
        mapFrameDoc.write(mapHtml);
        mapFrameDoc.close();
      </script>

      <script>
        $(document).ready(function () {
          function changeMap() {
            $.ajax({
              url: "/change_map",
              type: "GET",
              dataType: "html",
              success: function (data) {
                var mapFrame = document.getElementById("map-frame");
                var mapFrameDoc =
                mapFrame.contentDocument || mapFrame.contentWindow.document;
                mapFrameDoc.open();
                mapFrameDoc.write(data);
                mapFrameDoc.close();
              },
              error: function (error) {
                console.log("Error: " + error);
              },
            });
          }

          $("#update_button").on("click", function (event) {
            event.preventDefault();
            changeMap();
          });
        });
      </script>
    </div>
  </body>
</html>
