<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <div class="container" id="entire-frame">
      <nav>
        <div class="title">
          <p>UW Alerts Map</p>
        </div>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="{{ url_for('render_demo_page') }}">DEMO</a></li>
          <li><a href="{{ url_for('about') }}">ABOUT</a></li>
          <li><a href="{{ url_for('render_past_page') }}">PAST</a></li>
          <li><a href="https://emergency.uw.edu/?_gl=1*1vuj1l2*_ga*MjEwNjM0NTMyNS4xNjc1ODkzMTc1*_ga_3T65WK0BM8*MTY3ODE1MzAyOS43LjAuMTY3ODE1MzAzMy4wLjAuMA..">BLOG</a></li>
        </ul>
      </nav>
      <div id="elementContainer">
        <div id="formcontainer">
          <div id="alertcontainer">
            <h2>Welcome to UW Alerts Map</h2>
            <p>Select an alert to view additional information!</p>
            
          </div>
        </div>
        <div id="plotcontainer">
          <iframe
            id="map-frame"
            width="80%"
            height="600px"
            frameborder="0"
          ></iframe>
        </div>
      </div>
      <script>
        /* Updating map html */
        var mapHtml = {{ map_html | safe | tojson}};
        var mapFrame = document.getElementById('map-frame');
        var mapFrameDoc = mapFrame.contentDocument || mapFrame.contentWindow.document;
        mapFrameDoc.open();
        mapFrameDoc.write(mapHtml);
        mapFrameDoc.close();
      </script>
      <script>
        var alertDesc = {{ alert_dict | safe | tojson}};
        var alertFrame = document.getElementById('alertcontainer');
        // let alertHtml = '';
        var alertObj = JSON.parse(alertDesc);
        localStorage.setItem("alertDescs", JSON.stringify(alertObj));
      </script>
      <script>
        $(document).ready(function() {
          function autoUpdateMap() {
            $.ajax({
              url: '/fully_update',
              type: 'GET',
              datatype: "html",
              success: function(data) {
                var bodyHtml = data.match(/<body.*?>([\s\S]*)<\/body>/i)[0];
                $('body').html(bodyHtml);
              },
              error: function(error){
                console.log("passing");
              }
            });
          }setInterval(autoUpdateMap, 10000);
        });
      </script>
    </div>
  </body>
</html>
