<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="title">
          <p>UW Alerts Map</p>
        </div>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="{{ url_for('render_demo_page') }}">DEMO</a></li>
          <li><a href="{{ url_for('about') }}">ABOUT</a></li>
          <li><a href="{{ url_for('render_past_page') }}">PAST</a></li>
          <li><a href="https://emergency.uw.edu/?_gl=1*1vuj1l2*_ga*MjEwNjM0NTMyNS4xNjc1ODkzMTc1*_ga_3T65WK0BM8*MTY3ODE1MzAyOS43LjAuMTY3ODE1MzAzMy4wLjAuMA..">BLOG</a></li>
        </ul>
      </nav>
      <div id="elementContainer">
        <div id="formcontainer">
          <div id="alertcontainer">
            <h2>Welcome to UW Alerts Map</h2>
            <p>Select an alert to view additional information!</p>
            
          </div>
        </div>
        <div id="plotcontainer">
          <iframe
            id="map-frame"
            width="80%"
            height="600px"
            frameborder="0"
          ></iframe>
        </div>
      </div>
      <script>
        /* Updating map html */
        var mapHtml = {{ map_html | safe | tojson}};
        var mapFrame = document.getElementById('map-frame');
        var mapFrameDoc = mapFrame.contentDocument || mapFrame.contentWindow.document;
        mapFrameDoc.open();
        mapFrameDoc.write(mapHtml);
        mapFrameDoc.close();
      </script>
      <script>
        // document.addEventListener("DOMContentLoaded", function(){
        /* Updating side panel */
        var alertDesc = {{ alert_dict | safe | tojson}};
        var alertFrame = document.getElementById('alertcontainer');
        // alertFrame.innHTML
        let alertHtml = '';
        // console.log(typeof alertDesc);
        // console.log(alertDesc)
        var alertObj = JSON.parse(alertDesc);
        localStorage.setItem("alertDescs", JSON.stringify(alertObj));
        // // console.log(alertObj);
        // for (let key in alertObj) {
        //   // console.log(key + ': ' + alertObj[key]);
        //   alertHtml += key + ': ' + alertObj[key];
        // }
        // alertFrame.innerHTML = alertHtml;
        // });
      </script>
      <script>
        console.log("TESTING:")
        console.log(JSON.parse(localStorage.getItem("alertDescs"))["0"])
      </script>

      <script>
        $(document).ready(function () {
          function changeMap() {
            $.ajax({
              url: "/update_map",
              type: "GET",
              dataType: "json",
              success: function (data) {
                var mapFrame = document.getElementById("map-frame");
                var mapFrameDoc = mapFrame.contentDocument || mapFrame.contentWindow.document;
                mapFrameDoc.open();
                mapFrameDoc.write(data);
                mapFrameDoc.close();
              },
              error: function (error) {
                console.log("Error: " + error);
              },
            });
          }

          $("#submitbutton").on("click", function (event) {
            event.preventDefault();
            changeMap();
          });
        });
      </script>
    </div>
  </body>
</html>
